@model DiemNgoaiKhoa.Models.Class

@{
    ViewData["Title"] = "Delete";
}

<h3>Bạn chắc chắn muốn xóa dữ liệu</h3>
<div>
    <h4>Class</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tên lớp: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Giảng viên:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lecturer.Fullname)
        </dd>
    </dl>
    
    <form asp-action="Xóa">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Quay lại</a>
    </form>
</div>
