@model DiemNgoaiKhoa.Models.Class

@{
    ViewData["Title"] = "Details";
}

<h1>Thông tin chi tiết</h1>

<div>
    <h4>Lớp học</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tên lớp:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Giảng viên:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lecturer.Fullname)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Cập nhật</a> |
    <a asp-action="Index">Quay lại</a>
</div>
