@model DiemNgoaiKhoa.Models.PointFrame

@{
    ViewData["Title"] = "Delete";
}

<h3>Bạn chắc chắn muốn xóa dữ liệu??</h3>
<div>
    <h4>Khung điểm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Mục:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemDetail.Name)
        </dd>
        <dt class = "col-sm-2">
            Nội dung và tiêu chí:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Điểm tối đa
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxPoint)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Quay lại</a>
    </form>
</div>
